.searchInput {
  width: 0 !important;
  padding: 0 !important;
  border: none;
  transition: all 3ms ease-out;
}
.searchInput::placeholder {
  color: #003a7f;
}

.showInput {
  width: 100% !important;
  border: 1px solid #003a7f;
  margin-inline: 20px;
  padding-inline: 12px;
}
.searchButton {
  transition: all 300ms ease-out;
}
.stretchBtn {
  width: 100%;
}
.cardHeader {
  font-size: 16px;
  font-weight: 500;
}
.cardBody {
  font-size: 12px;
  font-weight: 400;
  color: #565656;
  margin-top: 8px;
}
.truncate-2-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
