.eventDetailsHeader {
  left: 15%;
  top: 30%;
}
.chipTags {
  background: #efeff3;
  padding: 8px;
  margin: 4px;
  border-radius: 8px;
  font-size: 14px;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  margin: 10px;
}

.line {
  width: 2px;
  height: 100px;
  background-color: black;
}
.truncate-6-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  text-overflow: ellipsis;
}
